h1, h2, h3 {
    text-align: center;
}

h3 {
    color: #616060;
    background: #f3f0f0;
}

img {
    margin: 10px;
    border: 1px solid #f3f0f0;
    border-radius: 7px;
}

.main_content {
    max-width: 900px;
    margin: auto;
}

.main_content .fgmt li {
    display: inline-block;
    background-color: #dddddd;
    padding: 3px 5px 3px 5px;
}
.main_content .fgmt li:hover {
    background-color: #bbbbbb;
}

.main_content .fgmt li:hover a {
    color: #ffffff;
}

.hidden {
    display: none;
}

.visible_block {
    display: block;
}

/* //////////////////////////////////////// */

.fgmt {

}
.head_photo {
    display: inline-block;
    vertical-align: top;
}
.head_photo img {
    width:100px;
    height: auto;
}

.tabcontent {
    animation: fadeEffect 8s; /* Fading effect takes 1 second */
    overflow-y: hidden;
    transition: max-height 8s;
}
.tablinks {
    cursor: pointer;
    text-align:right;
    width:100%;
    display: inline-block;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {max-height: 0;}
    to {max-height: 10000px;}
}